/* Tarjetas inferiores del dashboard */
.mainLowContainer{
    width: 1112px;
    height: 262px;
}
.mainLowTitle{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #141736;
}
.lowCard{
    width: 168px;
    height: 170px;
    background: #EFEFEF;
    border-radius: 7px;
}
.lowCardImage{
    width: 144px;
    height: 124px;
}
.lowCardText{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}